.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global styles */
body.dark {
  background-color: #121212;
  color: #fff;
}

body.light {
  background-color: #fffef8;
  color: #000;
}

.card-dark {
  background-color: #333;
  color: white;
}

.card-light {
  background-color: white;
  color: black;
}

.navbar-dark {
  background-color: #333;
}

.navbar-light {
  background-color: #fffdf1;
}


.drone-icon-dark {
  filter: none;  
}


.drone-icon-light {
  filter: invert(0.3) brightness(1.4); 
}

.dark-mode-select,.dark-mode-select option {
  background-color: #343a40!important;
  color: #fff!important;
}

.light-mode-select,.light-mode-select option {
  background-color: #fff!important;
  color: #000!important;
}
		
.dark-mode-select,.light-mode-select,.dark-mode-input,.light-mode-input{
  padding: 20px 20px!important; 
  font-size: 20px!important; 
  border-radius: 5px!important; 
  cursor: pointer!important; 
  transition: background-color 0.3s ease-in-out!important;  
}

.dark-mode-select:hover,.dark-mode-input:hover {
  background-color: #2f3338!important; 
}

.light-mode-select:hover,.light-mode-input:hover {
  background-color: #ebebeb!important; 
}

.dark-mode-input,.dark-mode-input:focus {
  background-color: #343a40!important;
  color: #fff!important;
  border-color: #343a40!important;
}

.light-mode-input,.light-mode-input:focus {
  background-color: #fff!important;
  color: #000!important;
  border-color: #ddd!important;
}

.blink {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}