.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global styles */
body.dark {
  background-color: #121212;
  color: #fff;
}

body.light {
  background-color: #f4f4f4;
  color: #000;
}

.card-dark {
  background-color: #333;
  color: white;
}

.card-light {
  background-color: white;
  color: black;
}

.navbar-dark {
  background-color: #333;
}

.navbar-light {
  background-color: #f8f9fa;
}


.drone-icon-dark {
  filter: none;  
}


.drone-icon-light {
  filter: invert(0.3) brightness(1.4); 
}